<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Twitt Plugin</lang>
	</name>
	<author>
		<lang name="default">Grebenkin Anton</lang>
	</author>
	<homepage>http://ls.vaktive.ru/</homepage>
	<version>1.0.3</version>
	<requires>
		<livestreet>1.0</livestreet>
		<plugins>

		</plugins>
	</requires>
	<description>
		<lang name="default">Display last twitt in block</lang>
		<lang name="russian">Выводит последний твитт в блоке на главной</lang>
	</description>
	<delegate>
		<module></module>
		<action></action>
		<template></template>
		<entity></entity>
	</delegate>
</plugin>